<?xml version="1.0" encoding="UTF-8"?>
<!-- Condifugración del api log4j para que podamos ver la información en la
consola de Glassfish.
https://logging.apache.org/log4j/2.x/manual/configuration.html
-->
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd/MM/yyyy HHmmss} [%t] %-5level %logger{36} -%msg%n"></PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>